.idea/*
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/0197c058e3a53d522cedf03bf4dfaae4.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/0f664ecd989fc4024b2f0788b643187c.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/1232d45a654bc5ddc5b7a807c9e61fb1.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/23c97874dc627c38fa89a2f361eec46b.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3be5da7e5828a1d209bc733c3cd41701.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/83b9433149ff25dd3dabbad361df14ec.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/87a225410b7f73c8939ea354500ed58e.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/92fb9c1e97caf5f7cc8867fb83316c0f.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/a405bded33366947c9bc304d51bdff6a.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/aabd4fa7f6933c54ee98f7a589a54c4f.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/b038c568e335db644ec039fd19fe6d35.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/b2f909bbabb97c0253b355af3b773a65.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/b4cc9c797440b4d263a685d692579117.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/bf8932eea5e24e807a840bfdb7b4c520.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/ced1d08e2f67a18b7a970c14f7ef03f0.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/e0aba7f48ba3efc1815908bdad5eddd2.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/feaed47614420abbc3d7e532437d2aec.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/0197c058e3a53d522cedf03bf4dfaae4/jetified-MPAndroidChart-3.1.0-runtime/classes.dex
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/1232d45a654bc5ddc5b7a807c9e61fb1/jetified-MPAndroidChart-3.1.0.aar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/83b9433149ff25dd3dabbad361df14ec/jetified-MPAndroidChart-3.1.0-runtime/classes.dex
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/92fb9c1e97caf5f7cc8867fb83316c0f/jetified-MPAndroidChart-3.1.0/AndroidManifest.xml
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/92fb9c1e97caf5f7cc8867fb83316c0f/jetified-MPAndroidChart-3.1.0/R.txt
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/92fb9c1e97caf5f7cc8867fb83316c0f/jetified-MPAndroidChart-3.1.0/jars/classes.jar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/b038c568e335db644ec039fd19fe6d35/jetified-MPAndroidChart-3.1.0-runtime.jar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/b2f909bbabb97c0253b355af3b773a65/jetified-MPAndroidChart-3.1.0-api.jar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/b4cc9c797440b4d263a685d692579117/com.github.mikephil.charting-r.txt
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/15fb6c0324677e91d1c7cb3d31e82915.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/1e4c1454cf312555fd7e1af6fab43873.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/22f98f6658c19e9434703abb4708295d.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3acd50ef373eb31646e1817717bcbb52.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3f0f5948c5563f420787e877fe67b3dc.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/4bda3a7f43889971b8dbdfaa2d32519e.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/5838b7c27c8f50f9f7b182e1d11fbdb0.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/5f6cbe3b47b34e0ad91fb7059dc5dbfc.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/64c1195b45aea3b76f08edda6a6eb291.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/6689a3ac97a27b4e49d4f4fc21ec9436.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/78eedf656b4aa0c3406e426c1e2c6ba7.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/794ced38887aee25209ce8e2693a3aac.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/8392014cb5f7d5591ea19e6e5c83657d.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/9f06ed384a28be59abffc129ab6550d2.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/af9cd37cac6fb981344dc0b5315db180.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/aff5644220f3cdce4a3305ac1d18e2ee.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/d37f62cd2be5873b0999e90bb7c1d64a.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/d611591ad06ca066c56f713320ac2f1d.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/dd2acc5d6f5d9643621f9801741e4745.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/f0402e97e9654d5bbd7d6bb643411861.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/15fb6c0324677e91d1c7cb3d31e82915/jetified-MPAndroidChart-3.1.0-runtime/classes.dex
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/1e4c1454cf312555fd7e1af6fab43873/jetified-MPAndroidChart-3.1.0-runtime/classes.dex
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/22f98f6658c19e9434703abb4708295d/jetified-MPAndroidChart-3.1.0.aar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3f0f5948c5563f420787e877fe67b3dc/jetified-MPAndroidChart-3.1.0/AndroidManifest.xml
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3f0f5948c5563f420787e877fe67b3dc/jetified-MPAndroidChart-3.1.0/R.txt
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3f0f5948c5563f420787e877fe67b3dc/jetified-MPAndroidChart-3.1.0/jars/classes.jar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/5f6cbe3b47b34e0ad91fb7059dc5dbfc/jetified-MPAndroidChart-3.1.0-runtime/classes.dex
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/6689a3ac97a27b4e49d4f4fc21ec9436/jetified-MPAndroidChart-3.1.0-runtime.jar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/794ced38887aee25209ce8e2693a3aac/com.github.mikephil.charting-r.txt
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/aff5644220f3cdce4a3305ac1d18e2ee/jetified-MPAndroidChart-3.1.0-runtime/classes.dex
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/dd2acc5d6f5d9643621f9801741e4745/jetified-MPAndroidChart-3.1.0-api.jar
