.idea/*
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/1e4c1454cf312555fd7e1af6fab43873.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/22f98f6658c19e9434703abb4708295d.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3acd50ef373eb31646e1817717bcbb52.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3f0f5948c5563f420787e877fe67b3dc.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/4bda3a7f43889971b8dbdfaa2d32519e.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/5838b7c27c8f50f9f7b182e1d11fbdb0.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/64c1195b45aea3b76f08edda6a6eb291.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/6689a3ac97a27b4e49d4f4fc21ec9436.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/78eedf656b4aa0c3406e426c1e2c6ba7.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/794ced38887aee25209ce8e2693a3aac.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/8392014cb5f7d5591ea19e6e5c83657d.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/9f06ed384a28be59abffc129ab6550d2.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/aff5644220f3cdce4a3305ac1d18e2ee.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/d37f62cd2be5873b0999e90bb7c1d64a.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/d611591ad06ca066c56f713320ac2f1d.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/dd2acc5d6f5d9643621f9801741e4745.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/f0402e97e9654d5bbd7d6bb643411861.bin
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/1e4c1454cf312555fd7e1af6fab43873/jetified-MPAndroidChart-3.1.0-runtime/classes.dex
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/22f98f6658c19e9434703abb4708295d/jetified-MPAndroidChart-3.1.0.aar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3f0f5948c5563f420787e877fe67b3dc/jetified-MPAndroidChart-3.1.0/AndroidManifest.xml
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3f0f5948c5563f420787e877fe67b3dc/jetified-MPAndroidChart-3.1.0/R.txt
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/3f0f5948c5563f420787e877fe67b3dc/jetified-MPAndroidChart-3.1.0/jars/classes.jar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/6689a3ac97a27b4e49d4f4fc21ec9436/jetified-MPAndroidChart-3.1.0-runtime.jar
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/794ced38887aee25209ce8e2693a3aac/com.github.mikephil.charting-r.txt
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/aff5644220f3cdce4a3305ac1d18e2ee/jetified-MPAndroidChart-3.1.0-runtime/classes.dex
BotsSDK/MPAndroidChart-3.1.0/build/.transforms/dd2acc5d6f5d9643621f9801741e4745/jetified-MPAndroidChart-3.1.0-api.jar
