<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kore.botssdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:usesCleartextTraffic="true">

        <!--android:name=".application.BotApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.BotHomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BotChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".activity.GenericWebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />-->

           <activity
               android:name=".activity.BotHomeActivity"
               android:screenOrientation="portrait">
               <!--<intent-filter>
                   <action android:name="android.intent.action.MAIN" />

                   <category android:name="android.intent.category.LAUNCHER" />
               </intent-filter>-->
           </activity>

           <activity
               android:name=".activity.BotChatActivity"
               android:screenOrientation="portrait"
               android:theme="@style/Theme.AppCompat.NoActionBar"
               android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.GenericWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!--<service
            android:name=".net.BotDemoRestService"
            android:exported="false" />-->
        <!--<service
            android:name=".net.BotRestService"
            android:exported="false" />-->
        <!--<service
            android:name=".net.BotLocalService"
            android:exported="false" />-->
    </application>

</manifest>
