<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kora.ai.widgetsdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:hardwareAccelerated="true">
        <activity
            android:name="com.kore.ai.widgetsdk.activities.PanelMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarThemeWhiteSub"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.kore.ai.widgetsdk.activities.FullViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarThemeWhiteSub"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.kore.ai.widgetsdk.activities.GenericWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarThemeWhiteSub"
            android:windowSoftInputMode="stateHidden" />
    </application>
</manifest>